body {
    height: 100vh;
    background-color: rgb(79, 224, 60);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    color: blue;
    text-align: center;
    margin: 20px;
    height: 200px;
    /* width: 100%; */
    background-color: rgb(11, 36, 7);
}

.inputGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.label {
    border: 1px solid black;
    margin-right: 10px;
    background-color: rgb(241, 211, 42);
    padding: 2px;
    height: 20px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBox {
    height: 24px;
}

.leftSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputContainer {
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

